
    <footer class="footer">
        <div class="container">
          <span class="text-muted">Seguridad en línea: Protegiendo tu confianza
            </div>
  
      </footer>
  
    </body>
  </html>
  